.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt
/.vs/ArticleRepo/v16
/.vs
/ArenaHoldings.ArticleManagement.Api/ArenaHoldings.ArticleManagement.Api/obj
*.v2
*.dll
*.pdb
/ArenaHoldings.ArticleManagement.Api/ArenaHoldings.ArticleManagement.Api/node_modules/bootstrap
/ArenaHoldings.ArticleManagement.Api/ArenaHoldings.ArticleManagement.Api/bin/Debug/net5.0/package-lock.json
ArenaHoldings.ArticleManagement.Api/ArenaHoldings.ArticleManagement.Api/bin/Debug/net5.0/ref/ArenaHoldings.ArticleManagement.Api.dll
ArenaHoldings.ArticleManagement.Api/ArenaHoldings.ArticleManagement.Api/bin/Debug/net5.0/ArenaHoldings.ArticleManagement.Api.pdb
ArenaHoldings.ArticleManagement.Api/ArenaHoldings.ArticleManagement.Api/bin/Debug/net5.0/ArenaHoldings.ArticleManagement.Api.dll
ArenaHoldings.ArticleManagement.Api/ArenaHoldings.ArticleManagement.Api/bin/Debug/net5.0/ArenaHoldings.ArticleManagement.Api.deps.json
